body{
  background: #f1f1f1;
}
input{
  margin: 3px;
  box-shadow: 10%;
}
section {
  float:left;
  width:70%;
}


aside{
  text-align: center;
  float:left;
  width: 15%;
  overflow: hidden;
  background-color: lightgrey;
  bottom: 0;
}
aside li{
  display:block !important;
  text-align: left;
}
#show_all{
  color:white;
  background-color: black;
  text-align: center;
}
nav div{
  border: 2px solid black;
  background-color: grey;
  color: white;
  margin: 5%;
  font-size: 15pt;
  border-radius: 25%;
  padding: 3%
}

aside nav li:hover{
  background-color: white;
  text-align: center;
}
aside button{
  width: 100px;
  height: 100px;
}

div.post{
    margin: 10px;
    border: solid;
    background-color: #ddd;
}
form{
  text-align: center;
  background-color: #ddd;
  margin-bottom: 4%;
}
article section h3,article section h4{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  padding: 2px;
}
article section h4{
  background-color: inherit;
  font-size: 20pt;
  color: rgb(250,250,250);
  text-shadow: 0px 0px 5px black;
}
#map {
  width:500px;
  height:400px;
  background:black;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 100%;
  box-sizing: content-box;
 }
#Post_video form{
  border: 1px dashed rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-right: 5px;
  margin-left: 50%;
  margin-top: 5px;
  text-align: center;
}
#video_post{
   width: 45%;
   margin:10px;
   margin-top: 10%;
   transform: rotate(0deg);
   border-radius: 25%;
}

div.video_container{
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#video_post_Bubble{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px grey;
  border: 3px solid skyblue;
}
#dance_robot_button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid green;
}

#dance_robot_button:active{
  background-color: black;
  color:white;
  border: 3px solid red;
}
@keyframes rotation_animation {
  0% { transform: rotateZ(0) ;}
  100% { transform: rotateZ(360deg) ;}
}
@-webkit-keyframes rotation_animation {
  0% { -webkit-transform: rotateZ(0) ;}
  100% { -webkit-transform: rotateZ(360deg) ;}
}
#JukeBox_vid{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 10px grey;
  border-radius: 2%;
}
#jukebox_container{
  background-color: black;
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
}
#Number_of_video_playing{
  display: none;
  text-align: center;
}
#Every_robot_spin{
  display: none;
  font-size: 15pt;
  color: rgba(0,0,0,0.8);
}
div.post canvas{
  width: 45%;
  float: right;
  margin: 10px;
  margin-top: 10%;
  border: 1px solid;
  background-color: black;
  border-radius: 25%;
  transform: rotate(0deg);
}
#canvasMirror{
  margin-top: 0px;
  float: left;
  transform: scaleY(-1);
  display: none;
}
footer {
    float: left;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
     aside, section{
        width: 100%;
    }
}
