body{
  margin: 0;
}
main{
  border: 1px solid black;
  width: 21.59cm;
  display: grid;
  grid-template-rows: 1fr 0.2fr 0.5fr 0.2fr 1fr 1fr 0.1fr 1.3fr 1fr;
  grid-template-columns:1fr 4fr 2fr;
  font-family: Tahoma;
  font-size: 10pt;
}
ul {
  list-style: none;
  text-align: justify;
}

h1{
  font-size: 15pt;
}
h2{
  font-size: 13pt;
}
h3{
  font-size: 12pt;
}
h4{
  font-size: 11pt;
  margin: auto;
}
h5{
  margin: auto;
  font-size: 10pt;
}
.vertical-two{
  grid-row-start: span 2;
}
.vertical-three{
  grid-row-start: span 8;
}
.right{
  display: grid;
  grid-template-rows: 2.5fr 1fr 1fr;
  height: 100%;
}

.subcell {
  grid-column-start:  1;
  grid-column-end:  3;
}
ul{
  padding: 0;
  margin: 0;
}
.subcell ul{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}
.subcell.formation{
  grid-row-start: span 2;
  grid-template-rows: auto  auto auto  auto  auto  auto;
}
.subcell.projets{
  grid-template-rows: auto  auto  auto;
}
li.item{
  padding-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.right, header{
  background-color: #7fb5e8;
  color: white;
}

.right .right-title{
  margin: 1em;
  margin-bottom: 0;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  color: #3578b7;
  text-shadow: none;
}
.right .right-title i{
  font-size: 20pt;
  margin-right: 10px;

}
.right .right-title *{
  display: inline;
  margin: 0;
  vertical-align: middle;
}

header{
  border: none;
  grid-column-start: span 3;
  border-bottom: 10px solid #3578b7;
  position:relative;
}
.header-title{
  text-shadow: black 1px 1px 1px;
}
.header-content{
  margin-left: 40px;
}
.intro{
  width: 90%;
  text-align: justify;
  padding-top: 1em;
}
.intro span{
  margin-left: 20px;
}
.intro ul{
  margin: 0;
}
header .trait {
  width: 50%;
  height: 0;
  border-bottom: 1.5px solid #3578b7;
  margin: auto;
}
.cell h2{
  margin: 1em;
}
.left{
  background-color: #e8ecf2;
}
.icon-background{
  font-size: 18pt;
  color: white;
  border-radius: 50%;
  background-color: black;
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 6px;
  text-align: center;
}
.vertical-two .icon-background{
  margin-top: 0;
}
.left,.middle {
  position: relative;
}
.left i{
  transform: translate(0,20%);
}
li.left{
  width: 100%;
  height: 100%;
  padding-top: 8px;
}
.left ul,li.left{
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: #6f7072;
}
.item{
  position: relative;
}
.item img{
  position: absolute;
  top: -5%;
  right: 3%;
  width: 8em;
}
#wordcloud-container{
  margin: auto;
  margin-top: 15px;
  background-color: white;
  border-radius: 50%;
  width: 13em;
  height: 13em;
  overflow: hidden;
  box-shadow: inset 0 0 25px  #7fb5e8;
}
#wordCloud{
  width: 23em;
  margin: auto;
  transform: translate(-22%,-12%);
}

#logo-INRIA{
  position: absolute;
  top: 40%;
  left: 10%;
  width: 7em;
}
.middle{
  border-bottom: 3px solid #e8ecf2;
}
#contact ul, .intro ul{
  text-align: center;
  text-decoration: none;
  padding: 0;
}
#contact ul li, .intro ul li{
  display: inline-block;
  margin: 5px;
}

#contact{
  background-color: #3578b7;
}
#contact .right-title{
  margin-top: 30px;
  text-align: center;
}
#contact #email{
  font-size: 10pt;

}
