body{
  margin: 0;
}
main{
  width: 21.59cm;
  height: 55.88cm;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr;
  font-family: Tahoma;
  font-size: 10pt;
  overflow: hidden;
}
.first-page{
  height: 100%;
  grid-template-columns:1fr 4fr 2fr;
  grid-template-rows: 1.5fr 0.5fr 1fr 0.5fr 4fr;
  display: grid;
}
.second-page{
  height: 100%;
  grid-template-columns:1fr 4fr 2fr;
  grid-template-rows:0.5fr 1fr 9fr 3fr ;
  display: grid;
}
ul {
  list-style: none;
  text-align: justify;
}
h1{
  font-size: 15pt;
}
h2{
  font-size: 13pt;
}
h3{
  font-size: 12pt;
}
h4{
  font-size: 11pt;
  margin: auto;
}
h5{
  margin: auto;
  font-size: 10pt;
}
.vertical-two{
  grid-row-start: span 2;
}
.vertical-five{
  grid-row-start: span 5;
}
.vertical-four{
  grid-row-start: span 4;
}
.right{
  display: grid;
  height: 100%;
}
.right.first{
  grid-template-rows: 5fr 2fr;
}
.right.second{
  grid-template-rows: 0.5fr 5fr 3.5fr 2.7fr;
}
.subcell {
  grid-column-start:  1;
  grid-column-end:  3;
}
ul{
  padding: 0;
  margin: 0;
}
.subcell ul{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
}
.subcell.formation{
  grid-row-start: span 2;
}
li.item{
  padding-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.right, header{
  background-color: #7fb5e8;
  color: white;
}
.right .right-title{
  margin: 1em;
  margin-bottom: 0;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  color: #3578b7;
  text-shadow: none;
}
.right .right-title i{
  font-size: 20pt;
  margin-right: 10px;

}
.right .right-title *{
  display: inline;
  margin: 0;
  vertical-align: middle;
}
header{
  border: none;
  grid-column-start: span 3;
  border-bottom: 10px solid #3578b7;
  position:relative;
}
.header-title{
  text-shadow: black 1px 1px 1px;
}
.header-content{
  margin-left: 40px;
}
.intro{
  width: 90%;
  text-align: justify;
  padding-top: 1em;
}
.intro span{
  margin-left: 20px;
}
.intro ul{
  margin: 0;
}
header .trait {
  width: 50%;
  height: 0;
  border-bottom: 1.5px solid #3578b7;
  margin: auto;
}
.cell h2{
  margin: 1em;
}
.cell{
  text-align: justify;
}
.left{
  background-color: #e8ecf2;
}
.icon-background{
  font-size: 18pt;
  color: white;
  border-radius: 50%;
  background-color: black;
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 6px;
  text-align: center;
}
.vertical-two .icon-background{
  margin-top: 0;
}
.left, .middle {
  position: relative;
}
.left i{
  transform: translate(0,20%);
}
li.left{
  width: 100%;
  height: 100%;
  padding-top: 8px;
}
.left ul,li.left{
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: #6f7072;
}
.item{
  position: relative;
  padding: 0 15px 0 5px;
}
.item img{
  position: absolute;
  top: -5%;
  right: 3%;
  width: 8em;
}
#wordcloud-container{
  margin: auto;
  margin-top: 15px;
  background-color: white;
  border-radius: 50%;
  width: 15em;
  height: 14em;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: inset 0 0 25px #7fb5e8;
}
#wordCloud{
  width: 23em;
  margin: auto;
  transform: translate(-15%,-12%);
}
#logo-INRIA{
  position: absolute;
  top: 40%;
  left: 10%;
  width: 7em;
}
.middle{
  border-bottom: 3px solid #e8ecf2;
}
.skills{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.progLanguage{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 15px 15px;
  grid-gap: 0 5px;
}
.progLanguage li{
  align-self: center;
}
.progLanguage li div i{
  margin: 0 2px;
}
.bar{
  border-radius: 50px;
  background-color: white;
  height: 100%;
}

.container{
  padding: 2px;
  border-radius: 50px;
  height: 10px;
  background-color: #3578b7;
  width: 100%;
}

.languages-grid{
  font-size: 12pt;
  margin: 15px 2px;
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(5,auto);
  grid-gap:0px 6px;
}
.languages-grid li{
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.langue{
  padding-right: 6px;
  font-weight: bold;
  justify-self: end;
  border-right: 1px solid #3578b7;
  text-shadow: black 1px 1px 1px;
}
.tools{
  margin: 20px 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 10px;
  font-size: 12pt;
}
.tools li{
  justify-self: start;
}
.tools .category{
  align-self: center;
  justify-self: end;
}
.certification {
  display: grid;
  margin: 20px;
  grid-gap: 20px;
}
.certification li{
  text-align: center;
}
.hobbies{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 5px;
  margin: 20px 10px;
}
.hobbies li.logo{
  font-size: 17pt;
  justify-self: center;
}


#contact ul, .intro ul{
  text-align: center;
  text-decoration: none;
  padding: 0;
}
#contact ul li, .intro ul li{
  display: inline-block;
  margin: 10px;
}
#contact{
  background-color: #3578b7;
}
#contact .right-title{
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#contact #email{
  font-size: 10pt;

}
