.cv-container {
	font-family: Tahoma, sans-serif;
	padding: 1rem;
	background-color: var(--color-bg);
	width: 21cm;
  	height: 29.7cm;
	border: var(--color-accent) solid 1px;
}
.cv-header {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-bottom: 1rem;
	background: var(--color-primary);
	border-radius: 0 8px;
	padding: 1.5rem 1rem;
}
.cv-main {
	display: flex;
	gap: 1rem;
}
.cv-center, .cv-right {
	padding: 1rem;
	border-radius: 0 8px;
}

.cv-center {
	flex: 4;
	background: var(--color-secondary);
}
.cv-right {
	flex: 1;
	background: var(--color-primary);
}