.cv-experience, .cv-formation {
    margin-bottom: 1rem;
    .school{
        color: var(--color-subtitle);
        font-style: italic;
        font-size: 10pt
    }
}
.cv-challenges {
    font-weight: bold;
    color: var(--color-accent);
}
